{% extends "layout.html" %}
{% block content %}
<div class="bg">
        <div class = "logo">
            <div class="row">
                <div class="col-md-12">
                <p class="h1" style="font-size:800%; text-align:center; color:white;">VINO</p>
                </div>
                <div class="col-md-12">
                <p class="h2" style="font-size:500%; text-align:center; color:white;"><i>Getting Drunk Together</i></p>
                </div>
            </div>
        </div>
</div>
{% endblock %}
