<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Vino Add Winery Form</title>
    <style>
        body{
            font-size: 40px;
            margin: auto;
            width: 60%;
            padding: 10px;
        }

            input{
            font-size: 40px;
        }

    </style>
</head>

<body background="/Users/Eddie/Documents/GitHub/UWHACKS2019/vino/static/images/vineyard.jpg">
<h1>Add Your Winery</h1>
<form action="/add/winery" method="post">
    Name: <input type="text" name="name"><br>
    Address: <input type="text" name="address"><br>
    Phone Number: <input type="text" name="phone"><br>
    Website: <input type="text" name="url"><br>
<input type="submit" value="Submit">
</form>
</body>
</html>
